jobs:
  test:
    env:
      GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
    runs-on: 'ubuntu-latest'
    steps:
      - uses: 'actions/checkout@v6'
      - name: 'Install Poetry'
        run: 'pipx install poetry'
      - name: 'Install dependencies'
        run: 'sudo apt-get update && sudo apt-get install -y libcairo2-dev libgirepository-2.0-dev'
      - name: 'Set up Python ${{ matrix.python-version }}'
        uses: 'actions/setup-python@v6'
        with:
          cache: 'poetry'
          python-version: '${{ matrix.python-version }}'
      - name: 'Install dependencies (Poetry)'
        run: 'poetry install --with=tests --all-extras'
      - name: 'Install pytest-action dependencies'
        run: 'poetry run pip install pytest-md pytest-emoji'
      - name: 'Install dependencies (Yarn)'
        run: 'yarn'
      - name: 'Run tests'
        uses: 'pavelzw/pytest-action@v2'
        with:
          click-to-expand: true
          custom-arguments: '--cov . --cov-branch --cov-report term-missing:skip-covered --cov-report xml'
          custom-pytest: 'yarn test'
          emoji: true
          job-summary: true
          report-title: 'Test Report'
          verbose: true
      - name: 'Coverage'
        uses: 'coverallsapp/github-action@v2'
        with:
          file: 'coverage.xml'
    strategy:
      matrix:
        python-version:
          - '3.12'
          - '3.13'
          - '3.14'
name: 'Tests'
'on':
  pull_request:
    branches:
      - 'master'
  push:
    branches:
      - 'master'
permissions:
  contents: 'read'
